#encoding:utf-8
<h1>订单列表详情</h1>

<table>
  <tr>
    <th>姓名</th>
    <th>地址</th>
    <th>邮箱</th>
    <th>支付类型</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新订单', new_order_path %>
<p><%= will_paginate @orders %></p>
