#encoding:utf-8
<div class="cart_title">
  你的购物车
</div>
<table>
  <% @cart.line_items.each do |item| %>
  <tr>
    <td><%= item.quantity %> &times;</td>
    <td><%= item.product.title %></td>
    <td class="item_price">￥
      <%= item.total_price %></td>
  </tr>
  <% end %>
  <tr class="total_line">
    <td colspan="2">合计</td>
    <td class="total_cell">
     ￥ <%= @cart.total_price %></td>
  </tr>
</table>
<%= button_to '清空购物车', @cart, method: :delete,
                            confirm: '确定删除' %>
