#encoding:utf-8
<div id="product_list">
<h1>商品列表</h1>

<table>

<% @products.each do |product| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  <td>
    <%= link_to image_tag(product.image_url, 
                          class: 'list_image'), product %>
  </td>
  <td class="list_description">
    <dl>
      <dt><%= link_to product.title, product %></dt>
      <dd><%= truncate(strip_tags(product.description),
                                  length: 80) %></dd>
    </dl>
    <td class="list_actions">

    <%= link_to '编辑', edit_product_path(product) %><br/>
    <%= link_to '删除', product, method: :delete, 
      data: { confirm: '确定删除的吗?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to '新增产品', new_product_path %>
